/* *, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    margin: 0;
    padding: 0;
} */

/* html
{
    font-size:100%;
} */

/* body
{
    -webkit-font-smoothing:antialiased;
    color:#333332;
    font-family:sans-serif, serif;
    font-size:18px;
    font-weight:400;
    line-height:1.4;
    text-rendering:optimizeLegibility;
} */

.row {
    margin: 0 !important;
}

h1, h2
{
    color:rgba(0,0,0,.75);
}

.left
{
    background-color:#1d2022;
}

.right
{
    background-color:rgb(244, 244, 245);;
}

.me-img
{
    background:url(images/dev-image.jpg) no-repeat center center ;
    background-size:100%;
    height:150px;
    margin: 0 -12px;
    position:relative;
    width:auto;
}

.name-text {
    padding: 20px;
}

.name-text h1
{
    font-family:Open Sans, sans-serif;
    font-size:1.5em;
    color: #3f98b3;
    text-align: center;
}

.name-text h2
{
    font-family:Open Sans, sans-serif;
    font-size:1em;
    color: #ffffff;
    text-align: center;
}

.name-text h2:last-of-type
{
    margin-bottom: 20px;
}

.name-text h2 a
{
    color: #3f98b3;
}

.name-text h1 em
{
    color:#3f98b385;
    font-style:normal;
    font-weight:700;
}

.name-text p
{
    color: rgba(255, 255, 255, 0.6);
    font-size:14px;
    line-height:1.5;
}

.inner
{
    padding:1em 3em;
}

.inner h1
{
    margin-top: 25px;
    font-size:1.75em;
    font-weight: 400;
}

.inner p
{
    color:#333333;
    margin-bottom: .1em;
}

.inner p > .p-highlighted {
    font-size: 16px;
    color: #3f98b3;
}

h3
{
    font-weight: 500 !important;
    font-size: 16px !important;
    margin-top: 10px !important;
}

h3 em
{
    color:#3f98b3;
    font-style:normal;
    font-size: 16px;
}

h3 span
{
    color:#6c757d;
    font-size: 14px;
    font-weight: 400;
}

ul
{
    list-style-type:none;
    padding:0 !important;
}

ul p {
    margin-top: 10px;
    margin-bottom: -5px !important;
}

.skill-set li
{
    background: #3f98b3;
    border-radius: 3px;
    color: #FFF;
    display: inline-block;
    list-style: none;
    margin: 10px 15px 0 0;
    padding: 3px 10px;
    text-align: justify;
}

.skill-set li:hover
{
    background:#2686a3;
}

.secondary-skills li
{
    background: #475053;
    border-radius: 3px;
    color: #FFF;
    display: inline-block;
    list-style: none;
    margin: 10px 15px 0 0;
    padding: 3px 10px;
    text-align: justify;
}

.secondary-skills li:hover
{
    background:#292e30;
}

@media (max-width: 768px) {
    .inner
    {
        padding:1em 1em;
    }
    .inner h1
    {
        margin-top: 10px;
        padding-bottom: 5px;
        font-size: 1.25em;
        border-bottom: solid;
    }
    input:checked ~ .accordion-content {
        padding: 12px !important;
    }
    li {
        font-size: 12px;
    }
}

/* @media screen and (max-width: 48em) {
    .right,.left
    {
    float:none;
    position:relative !important;
    width:100%;
    min-height:500px;
    }
.handmade {
text-align:center !important;
margin-top:0px !important;
}

@media screen and (max-width: 75em) {
    body
{ font-size:16px;}
}

@media screen and (max-width: 60em) {
    body
    { font-size:14px;}
}
.clearfix:after {
    content: " "; /* Older browser do not support empty content 
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
.handmade {
text-align:right;
margin-top:100px;
}
.handmade em {
font-family: 'Shadows Into Light', cursive;
font-size: 1.25em;
margin-left:5px;
} */

input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.accordion-wrapper {
    overflow: hidden;
    margin:0 auto;
}
.accordion {
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
}

.accordion:last-child{
    margin-bottom: 0;
}
.accordion-label {
    display: flex;
    -webkit-box-pack: justify;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    background: #3f98b31c;
    border-radius: 20px;
}

.accordion-label:hover {
    background: #3f98b35d;
    transition: .2s;
}

.accordion-label::before {
    margin: 5px 5px 5px 12px;
    align-self: center;
    content:"";
    display: inline-block;
    border: 4px solid transparent;
    border-left:6px solid #3f98b3;
    -webkit-transition: all 0.3s;
    transition: all 0.1s;
}

.accordion-label + .accordion-label::before {
    display: none;
}

.accordion-content {
    max-height: 0;
    padding: 0;
    background: white;
    box-shadow: 0 0 8px rgb(189, 190, 201);
    background: #fff;
}
.accordion-content p{
    margin: 0;
    font-size: 14px;
}

.accordion-wrapper h3{
    font-size: 16px;
}

.accordion-content ul
{
    list-style-type:square;
    padding-left: 20px !important;
}

.accordion-content li{
    font-size: 14px;
}

input:checked + .accordion-label::before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-bottom: -1px;
}
input:checked ~ .accordion-content {
    max-height: 100%;
    padding: 15px 25px;
    margin: 8px;
    border-radius: 3px;
}
